{block title}Admin{/block}
{block description}CMS Admin{/block}
{block content}
<div class="fullSite container-fluid">
<h1>Admin</h1>
<a n:href="Homepage:out">odhlasit</a>

</div>
{/block}
{block script}
{include parent}
{/block}