parameters:
http:
	csp:
		script-src: [nonce, strict-dynamic, *, unsafe-inline]
		style-src: [nonce, *, unsafe-inline]

	# proxy: 127.0.0.1
	# hlavičky, které se s každým požadavkem odešlou
	headers:
	    X-Powered-By: CMSF0X
	    X-Content-Type-Options: nosniff
	    X-XSS-Protection: '1; mode=block'
	# ovlivňuje hlavičku X-Frame-Options
	    X-Frame-Options: 'DENY'
	# posílat cookie pouze přes HTTPS?
	cookieDomain: 'název vaší domény'
	cookieSecure: auto
	featurePolicy:
	    geolocation:
	    - self
	    - http://název vaší domény

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days
	savePath: "%tempDir%/sessions"
	autoStart: true

di:
	export:
		parameters: no
		tags: no


services:
	- App\Router\RouterFactory::createRouter
	- App\Services\TransportForm
	- App\Services\EshopForm
	- App\Services\SignForm
	- App\Services\LostForm
	- App\Services\CommentForm
	- App\Services\NewFormularForm
	- App\Services\FormularForm
	- App\Services\RegForm
	- App\Services\NameForm
	- App\Services\UsersForm
	- App\Services\EmailUserForm
	- App\Services\ArticleForm
	- App\Services\FactoryShortCode
	- App\Services\FactoryFilter
	- App\Services\FactoryFilterUkazka
	- App\Model\ArticleManager
	- App\Model\PostManager
	- App\Model\UsersManager
	- App\Model\ShortCodeManager
	- App\Model\EmailModel
	- App\Model\EshopModel
	acl:
	    factory: Nette\Security\Permission
	    setup:
	    - addRole(admin)
	    - addRole(partner)
	    - addRole(registered)
	    - addRole(guest)
	    - addResource(backend)
	    - addResource(user)
	    - allow(admin, backend)
	    - allow(partner, user)
	    - allow(admin, user)
	    - allow(registered, user)
	    - deny(guest, backend)
	authenticator: App\Model\MyAuthenticator
php:
	date.timezone: Europe/Prague
